.page{
  height: 100%;
}

.slides{
  height: calc(100% - 81px);
  overflow: scroll;
  width: 100%;
}

.react-swipeable-view-container{
  height: 100%;
}

.switch-wrapper {
  position: relative;
}

.tab_wrapper{
  width: 100%;
  background-color: $primaryColor;
  overflow: auto;
  .tabs{
    width: 100%;
    max-width: 440px;
    position: relative;
    display: block;
    margin: auto;
    ul{
      overflow: auto;
      li{
        float: left;
        width: 50%;
        text-align: center;
        padding: 10px 0px;
        color: white;
        font-weight: bold;
        opacity: 0.4;
      }
      .active{
        opacity: 1;
      }
    }
    .active_tab_indicator{
      position: absolute;
      width: 50%;
      left: 0;
      bottom: 0;
      height: 3px;
      background-color: $accentColor;
    }
  }
}



.card{
  width: calc(100% - 14px);
  background-color: $light;
  border-radius: 2px;
  max-width: 440px;
  display: block;
  margin: auto;
  margin-top: 7px;
  .card_title{
    padding: 10px;
    font-weight: bold;
    padding-bottom: 5px;
  }
  .img_title{
    overflow: auto;
    padding: 10px;
    @include displayFlex;
    align-items: center;
    img{
      width: 50px;
      height: 50px;
      float: left;
      border-radius: 100%;
    }
    .titles{
      float: left;
      margin-left: 10px;
      h2{
        font-weight: bold;
        font-size: 14pt;
      }
    }
  }
  .artist_list{
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
    height: 150px;
    white-space: nowrap;
    .artist{
      height: 100%;
      width: 150px;
      display: inline-flex;
      justify-content: center;
      white-space: normal;
      margin-right: 2px;
      overflow: hidden;
      position: relative;
      .black_foreground{
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: black;
        opacity: 0.5;
      }
      .info_div{
        height: 100%;
        width: 100%;
        position: absolute;
        h3{
          color: white;
          text-align: center;
          margin-top: 10px;
          font-weight: bold;
        }
        .play_button{
          width: 40px;
          height: auto;
          @include centerAbsolute();
          border-radius: 100%;
          outline: none;
        }
        .play_button:focus{
          border: 2px solid $accentColor;
        }
        .more_button{
          width: 70px;
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: auto;
          left: 0;
          right: 0;
          bottom: 10px;
        }
      }
      .artist_img{
        height: 100%;
        display: block;
        margin: auto;
      }
    }
  }
  .more_info_festival{
    padding: 10px;
    padding-bottom: 6px;
    h3{
      font-weight: bold;
      font-size: 12pt;
    }
    p{
      margin-top: 5px;
    }
  }
  .two_button_wrapper{
    overflow: auto;
    margin-top: 10px;
    form{
      margin-top: -3px;
      float: left;
    }
    .button_link{
      float: right;
    }
  }
}
button{
  padding: 0px;
  color: $accentColor;
  font-size: 11pt;
  background-color: transparent;
  font-weight: bold;
  box-shadow: none;
  border: none;
}
.button_link{
  color: $accentColor;
  font-size: 11pt;
  font-weight: bold;
}

.list_img_title_subtitle_icon{
  li{
    overflow: visible;
    padding: 5px 10px;
    @include displayFlex;
    align-items: center;
    img{
      width: 40px;
      height: 40px;
      float: left;
      border-radius: 100%;
    }
    .titles{
      float: left;
      margin-left: 10px;
      h2{
        font-weight: bold;
        font-size: 13pt;
        margin-bottom: 3px;
      }
    }
  }
}

.button_form{
  margin-left: auto;
  order: 2;
  position: relative;
  input{
    width: 25px;
  }
  .emoji_button{
    font-size: 25px;
    outline: none;
  }
  button{
    cursor: pointer;
  }
  .rating_options{
    z-index: 1;
    position: absolute;
    background-color: white;
    position: absolute;
    left: -10px;
    border-radius: 20px;
    box-shadow: $boxShadowHard;
    padding: 5px 0px;
    li{
      margin-top: -5px;
      margin-bottom: -5px;
      button{
        font-size: 25px;
        outline: none;
      }
    }
  }
  .rating_position_1{
    top: -5px;
  }
  .rating_position_2{
    top: -43px;
  }
  .rating_position_3{
    top: -81px;
  }
  .rating_position_4{
    top: -119px;
  }
  .rating_position_5{
    top: -157px;
  }
}

.list_key_value{
  li{
    &:first-of-type{
      border-top: none;
    }
    border-top: $lightBorder;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    .key{
      font-family: bold;
      float: left;
      margin-left: 10px;
    }
    .value{
      font-family: regular;
      float: right;
      margin-right: 10px;
    }
    .external_link{
      color: $accentColor;
    }
  }
}
.card_with_list{
  .list_key_value{
    li{
      &:first-of-type{
        border-top: $lightBorder;
      }
    }
  }
}

.banner{
  width: 100%;
  position: relative;
  overflow: hidden;
  img{
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    position: relative;
    z-index: 1;
  }
  .blurry_img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    top: 0;
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
  }
}
