@value largeBP: (min-width: 1100px);
@value mediumBP: (min-width: 769px) and (max-width: 1099px);
@value smallBP: (max-width: 768px);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: light;
  src: url("/fonts/SanFranciscoText-Light.otf"); }
@font-face {
  font-family: regular;
  src: url("/fonts/SanFranciscoText-Regular.otf"); }
@font-face {
  font-family: medium;
  src: url("/fonts/SanFranciscoText-Medium.otf"); }
@font-face {
  font-family: bold;
  src: url("/fonts/SanFranciscoText-Bold.otf"); }
h1, h2, h3, h4, h5, h6, label, a {
  font-family: medium;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

p, li, tr {
  font-family: regular;
  color: black;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

html, body, #root, .content {
  height: 100%; }

h1, h2, h3, h4, li, a, p {
  font-family: helvetica; }

a {
  text-decoration: none; }

body {
  background-color: #EEEEEE; }

.page {
  height: 100%; }

.slides {
  height: calc(100% - 81px);
  overflow: scroll;
  width: 100%; }

.react-swipeable-view-container {
  height: 100%; }

.switch-wrapper {
  position: relative; }

.tab_wrapper {
  width: 100%;
  background-color: #607D8B;
  overflow: auto; }
  .tab_wrapper .tabs {
    width: 100%;
    max-width: 440px;
    position: relative;
    display: block;
    margin: auto; }
    .tab_wrapper .tabs ul {
      overflow: auto; }
      .tab_wrapper .tabs ul li {
        float: left;
        width: 50%;
        text-align: center;
        padding: 10px 0px;
        color: white;
        font-weight: bold;
        opacity: 0.4; }
      .tab_wrapper .tabs ul .active {
        opacity: 1; }
    .tab_wrapper .tabs .active_tab_indicator {
      position: absolute;
      width: 50%;
      left: 0;
      bottom: 0;
      height: 3px;
      background-color: #FF5722; }

.card {
  width: calc(100% - 14px);
  background-color: #ffffff;
  border-radius: 2px;
  max-width: 440px;
  display: block;
  margin: auto;
  margin-top: 7px; }
  .card .card_title {
    padding: 10px;
    font-weight: bold;
    padding-bottom: 5px; }
  .card .img_title {
    overflow: auto;
    padding: 10px;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center; }
    .card .img_title img {
      width: 50px;
      height: 50px;
      float: left;
      border-radius: 100%; }
    .card .img_title .titles {
      float: left;
      margin-left: 10px; }
      .card .img_title .titles h2 {
        font-weight: bold;
        font-size: 14pt; }
  .card .artist_list {
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
    height: 150px;
    white-space: nowrap; }
    .card .artist_list .artist {
      height: 100%;
      width: 150px;
      display: inline-flex;
      justify-content: center;
      white-space: normal;
      margin-right: 2px;
      overflow: hidden;
      position: relative; }
      .card .artist_list .artist .black_foreground {
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: black;
        opacity: 0.5; }
      .card .artist_list .artist .info_div {
        height: 100%;
        width: 100%;
        position: absolute; }
        .card .artist_list .artist .info_div h3 {
          color: white;
          text-align: center;
          margin-top: 10px;
          font-weight: bold; }
        .card .artist_list .artist .info_div .play_button {
          width: 40px;
          height: auto;
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          margin-top: auto;
          margin-bottom: auto;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          border-radius: 100%;
          outline: none; }
        .card .artist_list .artist .info_div .play_button:focus {
          border: 2px solid #FF5722; }
        .card .artist_list .artist .info_div .more_button {
          width: 70px;
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: auto;
          left: 0;
          right: 0;
          bottom: 10px; }
      .card .artist_list .artist .artist_img {
        height: 100%;
        display: block;
        margin: auto; }
  .card .more_info_festival {
    padding: 10px;
    padding-bottom: 6px; }
    .card .more_info_festival h3 {
      font-weight: bold;
      font-size: 12pt; }
    .card .more_info_festival p {
      margin-top: 5px; }
  .card .two_button_wrapper {
    overflow: auto;
    margin-top: 10px; }
    .card .two_button_wrapper form {
      margin-top: -3px;
      float: left; }
    .card .two_button_wrapper .button_link {
      float: right; }

button {
  padding: 0px;
  color: #FF5722;
  font-size: 11pt;
  background-color: white;
  font-weight: bold;
  box-shadow: none;
  border: none; }

.button_link {
  color: #FF5722;
  font-size: 11pt;
  font-weight: bold; }

.list_img_title_subtitle_icon li {
  overflow: visible;
  padding: 5px 10px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center; }
  .list_img_title_subtitle_icon li img {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 100%; }
  .list_img_title_subtitle_icon li .titles {
    float: left;
    margin-left: 10px; }
    .list_img_title_subtitle_icon li .titles h2 {
      font-weight: bold;
      font-size: 13pt;
      margin-bottom: 3px; }
  .list_img_title_subtitle_icon li .button_form {
    margin-left: auto;
    order: 2;
    position: relative; }
    .list_img_title_subtitle_icon li .button_form input {
      width: 25px; }
    .list_img_title_subtitle_icon li .button_form .emoji_button {
      font-size: 25px;
      outline: none; }
    .list_img_title_subtitle_icon li .button_form button {
      cursor: pointer; }
    .list_img_title_subtitle_icon li .button_form .rating_options {
      z-index: 1;
      position: absolute;
      background-color: white;
      position: absolute;
      left: -10px;
      border-radius: 20px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
      padding: 5px 0px; }
      .list_img_title_subtitle_icon li .button_form .rating_options li {
        margin-top: -5px;
        margin-bottom: -5px; }
        .list_img_title_subtitle_icon li .button_form .rating_options li button {
          font-size: 25px;
          outline: none; }
    .list_img_title_subtitle_icon li .button_form .rating_position_1 {
      top: -5px; }
    .list_img_title_subtitle_icon li .button_form .rating_position_2 {
      top: -43px; }
    .list_img_title_subtitle_icon li .button_form .rating_position_3 {
      top: -81px; }
    .list_img_title_subtitle_icon li .button_form .rating_position_4 {
      top: -119px; }
    .list_img_title_subtitle_icon li .button_form .rating_position_5 {
      top: -157px; }

.list_key_value li {
  border-top: 1px solid #E1E1E1;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px; }
  .list_key_value li:first-of-type {
    border-top: none; }
  .list_key_value li .key {
    font-family: bold;
    float: left;
    margin-left: 10px; }
  .list_key_value li .value {
    font-family: regular;
    float: right;
    margin-right: 10px; }
  .list_key_value li .external_link {
    color: #FF5722; }

.banner {
  width: 100%;
  position: relative;
  overflow: hidden; }
  .banner img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    position: relative;
    z-index: 1; }
  .banner .blurry_img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    top: 0;
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px); }

.search_header {
  width: 100%;
  height: 45px;
  background-color: #607D8B;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }
  .search_header form {
    width: calc(100% - 14px);
    max-width: 440px; }
    .search_header form input[type="text"] {
      border-radius: 2px;
      border: none;
      width: calc(100% - 5px);
      font-size: 12pt;
      padding: 7px 0px;
      padding-left: 5px;
      margin-top: 7px;
      outline-color: #FF5722; }

.header {
  width: 100%;
  height: 45px;
  background-color: #607D8B;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center; }
  .header .back_button_form {
    float: left;
    height: 25px;
    margin-left: 10px; }
    .header .back_button_form input {
      width: 25px; }
  .header h1 {
    float: left;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    font-size: 14pt; }
  .header .right_button_form {
    height: 25px;
    margin-right: 10px;
    margin-left: auto;
    order: 2; }
    .header .right_button_form input {
      width: 25px; }

/*# sourceMappingURL=main.css.map */
